{# not on public pages #}
{% extends "forms/waiver_report_base.html" %}
{% load static %}
{{ super }}

{% block page_header %}
  {% include 'forms/complaint_view/intake_header.html' with title_text="Waiver" progress_bar=True url="/form/waiver" %}
{% endblock %}

{% block form_questions %}
<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    {% if page_errors %}
      <section id="page-errors" class="display-none page-errors margin-bottom-2" role="alert" aria-live="assertive">
      {{ num_page_errors }} error{{ num_page_errors|pluralize }}: {{ page_errors_desc }}
      </section>
    {% endif %}
    <h2 class="h1" id="agency">Waiver Application</h2>
    <div class="margin-top-3"></div>
    {% include "forms/question_cards/single_question.html" with field=form.agency %}
  </div>
</div>

<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    <h2 class="h1" id="contact">Contact</h2>
    <p>Who will be the main point of contact for follow up questions?</p>
    {% include "forms/question_cards/single_question.html" with field=form.contact_first_name %}
    {% include "forms/question_cards/single_question.html" with field=form.contact_last_name %}
    {% include "forms/question_cards/single_question.html" with field=form.contact_email %}
    {% include "forms/question_cards/single_question.html" with field=form.contact_phone %}
    {% include "forms/question_cards/single_question.html" with field=form.contact_address_line_1 %}
    {% include "forms/question_cards/single_question.html" with field=form.contact_address_line_2 %}
    <h3 class="question--header margin-top-0">Address</h3>
    {% include "forms/question_cards/contact.html"%}
  </div>
</div>

<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    <h2 class="h1" id="product-information">Product Information</h2>
    <p>Fill in the information about the product you would like to use.</p>

    {% include "forms/question_cards/single_question.html" with field=form.product_name %}
    {% include "forms/question_cards/single_question.html" with field=form.product_company %}
    {% include "forms/question_cards/single_question.html" with field=form.parent_company %}
    {% include "forms/question_cards/single_question.html" with field=form.unique_entity_identifer %}
    {% include "forms/question_cards/single_question.html" with field=form.duns_number %}
    {% include "forms/question_cards/single_question.html" with field=form.country_of_origin %}
    {% include "forms/question_cards/single_question.html" with field=form.purpose_of_product %}
  </div>
</div>

<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    <h2 class="h1" id="justification">Justification</h2>
    <div class="margin-top-3">
      {% include "forms/question_cards/single_question.html" with field=form.market_justification card_title="Market Justification" %}

      {% include "forms/word_counter.html" with word_limit=500 %}
    </div>
  </div>
</div>

{% endblock %}

{% block page_js %}
{{ super }}
<script nonce="{{request.csp_nonce}}">
  (function(root) {
    root.CRT = root.CRT || {};

    root.CRT.translations = {
      wordRemainingText: "word remaining",
      wordsRemainingText: " words remaining",
      wordLimitReachedText: " word limit reached"
    };
  })(window)
</script>
<script src="{% static 'js/pro_form_show_hide.js' %}"></script>
<script src="{% static 'js/autofill_current_date.js' %}"></script>
<script src="{% static 'js/word_count.js' %}"></script>
<script src="{% static 'js/progress-bar.js' %}"></script>
{% endblock %}

{% block usa_footer %}
{% endblock %}
